rect.bit {
  stroke: black;
  stroke-width: 4;
  fill: transparent;
  cursor: pointer;
}
text.bit {
  pointer-events: none;
  font: bold 24px monospace;
}

.xor {
  stroke: green;
  stroke-width: 3;
  fill: white;
}
.xor:hover {
  stroke-width: 2;
}
line.xor {
  pointer-events: none;
}
circle.xor {
  cursor: pointer;
}

.xor-hint {
  stroke: green;
  stroke-width: 2;
  fill: white;
  cursor: pointer;
}
.xor-hint:hover {
  stroke: green;
  stroke-width: 4;
  fill: green;
  cursor: pointer;
}

.arrow {
  stroke: purple;
  stroke-width: 4;
  fill: transparent;
  marker-end: url(#arrowhead);
}

marker#arrowhead {
  fill: purple;
}
