.lfsr .line, .lfsr .arrow {
  stroke: purple;
  stroke-width: 4;
  fill: transparent;
}

.lfsr .arrow {
  marker-end: url(#arrowhead);
}
marker#arrowhead {
  fill: purple;
}

.lfsr .fore_space {}
.lfsr .fore_space .bit {}
.lfsr .fore_space .bit .register_rect {
  stroke: black;
  stroke-width: 4;
  fill: white;
  cursor: pointer;
}
.lfsr .fore_space .bit .register_text {
  pointer-events: none;
  font: bold 24px monospace;
}

/* Style XOR Symbol when ENABLED. */
.lfsr .fore_space .bit .xor .symbol_circle,
.lfsr .fore_space .bit .xor .symbol_line {
  stroke: green;
  stroke-width: 3;
}
.lfsr .fore_space .bit .xor .symbol_line {
  pointer-events: none;
}
.lfsr .fore_space .bit .xor .symbol_circle {
  cursor: pointer;
  fill: white;
}
.lfsr .fore_space .bit .xor.rightmost .symbol_circle,
.lfsr .fore_space .bit .xor.rightmost .symbol_line,
.lfsr .rear_space .bit .xor.rightmost .bit_xor_arrow {
  display: none;
}
.lfsr .fore_space .bit .xor .hint_circle {
  display: none;
  stroke: purple;
  stroke-width: 2;
  fill: purple;
  cursor: pointer;
}
.lfsr .fore_space .bit .xor.rightmost .hint_circle {
  display: block;
  stroke: green;
  fill: green;
}

/* Style XOR Symbol when DISABLED. */
.lfsr .fore_space .bit .xor.disabled .symbol_circle,
.lfsr .fore_space .bit .xor.disabled .symbol_line {
  display: none;
}
.lfsr .fore_space .bit .xor.disabled .hint_circle {
  display: block;
}

/* Style XOR input arrows when DISABLED. */
.lfsr .rear_space .bit .xor.disabled .xor_arrow,
.lfsr .rear_space .bit .xor.rightmost .feedback_xor_arrow {
  visibility: hidden;
}

/* Style XOR feedback line when NOT RIGHTMOST. */
.lfsr .rear_space .bit .xor .feedback_line {
  visibility: hidden;
}
/* Style XOR feedback line when RIGHTMOST. */
.lfsr .rear_space .bit .xor.rightmost .feedback_line {
  visibility: visible;
}
