.shift-register {
  position: relative;
}

.shift-register .tap_checkbox_container {
  position: absolute;
}

.shift-register .tap_checkbox {
  margin: 0 auto;
  display: block;
}

.shift-register .line, .shift-register .arrow {
  stroke: purple;
  stroke-width: 4;
  fill: transparent;
}

.shift-register .arrow {
  marker-end: url(#arrowhead);
}
marker#arrowhead {
  fill: purple;
}

.shift-register .fore_space {}
.shift-register .fore_space .bit .register_rect {
  stroke: black;
  stroke-width: 4;
  fill: white;
  cursor: pointer;
}
.shift-register .fore_space .bit .register_circle {
  pointer-events: none;
  stroke: lightblue;
  stroke-width: 1;
  fill: azure;
}
.shift-register .fore_space .bit .register_text {
  pointer-events: none;
  font: bold 24px monospace;
}

/* Style XOR Symbol when ENABLED. */
.shift-register .fore_space .bit .xor .symbol_circle,
.shift-register .fore_space .bit .xor .symbol_line {
  stroke: green;
  stroke-width: 3;
}
.shift-register .fore_space .bit .xor .symbol_line {
  pointer-events: none;
}
.shift-register .fore_space .bit .xor .symbol_circle {
  cursor: pointer;
  fill: white;
}
.shift-register .fore_space .bit .xor.rightmost .symbol_circle,
.shift-register .fore_space .bit .xor.rightmost .symbol_line,
.shift-register .rear_space .bit .xor.rightmost .bit_xor_arrow {
  display: none;
}
.shift-register .fore_space .bit .xor .hint_circle {
  display: none;
  stroke: purple;
  stroke-width: 2;
  fill: purple;
  cursor: pointer;
}
.shift-register .fore_space .bit .xor.rightmost .hint_circle {
  display: block;
  stroke: green;
  fill: green;
}

/* Style XOR Symbol when DISABLED. */
.shift-register .fore_space .bit .xor.disabled .symbol_circle,
.shift-register .fore_space .bit .xor.disabled .symbol_line {
  display: none;
}
.shift-register .fore_space .bit .xor.disabled .hint_circle {
  display: block;
}

/* Style XOR input arrows when DISABLED. */
.shift-register .rear_space .bit .xor.disabled .xor_arrow,
.shift-register .rear_space .bit .xor.rightmost .feedback_xor_arrow {
  visibility: hidden;
}

/* Style XOR feedback line when NOT RIGHTMOST. */
.shift-register .rear_space .bit .xor .feedback_line {
  visibility: hidden;
}
/* Style XOR feedback line when RIGHTMOST. */
.shift-register .rear_space .bit .xor.rightmost .feedback_line {
  visibility: visible;
}
